[user]
	email = 50592898+ben-ihelputech@users.noreply.github.com
	name = Ben Meinhart
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
